body {  
    background-color: #ffffff; 
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-image: url(https://cdn.pixabay.com/photo/2016/06/16/01/18/italy-1460295_1280.jpg);
    background-size: cover;       
    background-position: center; 
    background-repeat: no-repeat; 
    line-height: 1.6;
}


.logo {
    width: 190px;
    height: 110px;
}

.logo img{
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 1000;
  transition: color 0.3s;
}

nav a:hover {
  color: #069e51;
}

/* Banner */
.banner {
    padding: 40px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}

.texto-esquerda {
    flex: 1;
    min-width: 300px;
    text-align: left;
}

    .texto-esquerda h1 {
        font-size: 2.5rem;
        margin-bottom: 15px;
        color: #000000;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.5);

    }

    .texto-esquerda h2 {
        font-size: 1.5rem;
        color: #000000;
        font-weight: normal;
      text-shadow: 2px 2px 5px rgba(0,0,0,0.5);

    }

.mapa-container {
    flex: 1;
    min-width: 300px;
}

/* Para dispositivos móveis */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .texto-esquerda {
        text-align: center;
    }

        .texto-esquerda h1 {
            font-size: 2rem;
        }

        .texto-esquerda h2 {
            font-size: 1.2rem;
        }
}

/* Cardápio */
.cardapio {
  padding: 60px 20px;
  text-align: center;
}

.cardapio h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
  color: #000000;
  margin-bottom: 30px;
}

.cardapio h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  color: #000000;
  margin-bottom: 30px;
}

.salgados {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.bebidas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
    background-color: #d2d5d8;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    cursor: auto;
    transition: all 0.3s ease;
}

.item:hover {
  transform: translateY(-5px);
  background-color:#f40424;
}

.item img {
  width: 100%;
  border-radius: 10px;
}

.item h3, .item p {
  font-family: 'Times New Roman', Times, serif;
  color:#000000;
  font-size: 1.17em;
}

.itembebida{
    background-color: #d2d5d8;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    cursor: auto;
    transition: all 0.3s ease;
}

.itembebida:hover {
  transform: translateY(-5px);
  background-color: #f40424;
}

.itembebida img {
  width: 100%;
  border-radius: 10px;
}

.itembebida h3, .itembebida p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.17em;
  color:#000000;
}

/* Seções */
.sobre, .contato {
  padding: 60px 20px;
  text-align: center;
}

.sobre h2, .contato h2 {
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  margin-bottom: 20px;
}

.sobre p, .contato p {
  font-family: 'Times New Roman', Times, serif;
  font-size:large;
  color: #000000;
  margin-bottom: 5px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
    background: linear-gradient( to right, green 0%, white 50%, red 100% );
    color: #000000;
    line-height: 1.6;
}